  <div class="row featured-speakers">
    <div class="columns">
      <div class="section-hd">Speakers</div>

        <ul class="small-block-grid-2 medium-block-grid-4 large-block-grid-4" style="margin-top:1em;">
          <% @eu15_speakers.each do |speaker| %>
          <li>
            <% if speaker.bio? %>
            <a class="current-speaker cboxElement" href="#<%= raw speaker.first_name %><%= raw speaker.last_name %><%= speaker.id %>">
              <div class="speaker speaker-featured">
                <div class="speaker-top">
                  <img src="<%= speaker.img_url %>" class="speaker-image" alt="<%= speaker.first_name %> <%= speaker.last_name %>">
                  <div class="speaker-top-info">
                    <div class="speaker-name"><%= raw speaker.first_name %> <%= raw speaker.middle_name %> <%= raw speaker.last_name %><%= raw speaker.suffix %></div>
                    <div class="speaker-title"><%= raw speaker.title %></div>
                    <div class="speaker-company"><%= raw speaker.company_name %></div>
                  </div>
                </div>
              </div>
            </a>
            <div class="speaker-bio" style="display:none;">
              <div id="<%= raw speaker.first_name %><%= raw speaker.last_name %><%= speaker.id %>" class="speaker-container">
                <div class="speaker-colorbox-title">LendIt USA 2015</div>
                <div class="speaker-top-info">
                  <img src="<%= speaker.img_url %>" class="speaker-image" alt="<%= raw speaker.first_name %> <%= raw speaker.last_name %>">
                  <div class="speaker-name"><%= raw speaker.first_name %> <%= raw speaker.middle_name %> <%= raw speaker.last_name %><%= raw speaker.suffix %></div>
                  <div class="speaker-title"><%= raw speaker.title %></div>
                  <div class="speaker-company"><%= raw speaker.company_name %></div>
                </div>
                <div class="speaker-bio-text"><div class="speaker-bio-text-inner"><%= raw speaker.bio %></div></div>
                <div class="speaker-bio-mask"></div>
              </div>
            </div>

            <% else %>
            <span>
              <div class="speaker">
                <div class="speaker-top">
                  <img src="<%= speaker.img_url %>" class="speaker-image" alt="<%= speaker.first_name %> <%= speaker.last_name %>">
                  <div class="speaker-top-info">
                    <div class="speaker-name"><%= raw speaker.first_name %> <%= raw speaker.last_name %><%= raw speaker.suffix %></div>
                    <div class="speaker-title"><%= raw speaker.title %></div>
                    <div class="speaker-company"><%= raw speaker.company_name %></div>
                  </div>
                </div>
              </div>
            </span>
            <% end %>
          </li>
          <% end %>

        </ul>


      </div>
    </div>
