<% title "LendIt USA 2015 Start-up Zone Page" %>
<% meta_description "LendIt Start-up Zone features online lending start-ups at the LendIt USA expo floor" %>
<% meta_keywords "p2p, start-up, online lending, peer-to-peer, LendIt Europe" %>

<div class="startup-zone">
	<div class="startup-zone-main">
		<div class="container">
			<div class="row">
				<div class="columns">
					<h1>
						<span class="startup-text">
							LendIt	
						</span>

						<span class="startup-heart">
							<%= image_tag("https://s3-us-west-2.amazonaws.com/lendit/startup-zone/startup-heart.gif", :alt => "LendIt Shanghai") %>
						</span>

						<span class="startup-text">
							Start-ups
						</span>
					</h1>

					<div>
						<h2>Great News for Start-ups</h2>
						<p>LendIt is delighted to announce the addition of the online lending community Start-up Zone to the LendIt USA expo floor.</p>
						<p>The online lending community Start-up Zone has been created to celebrate, inspire, and accelerate high-growth entrepreneurship in our community.</p>
					</div>

					<div>
						<h2>Who is eligible?</h2>
						<p>Online lending platforms only with 10 employees or less.</p>
					</div>
				</div>
			</div>
			<div class="row startups-get">
				<div class="columns medium-14 large-14">

					<div>
						<h2>What do you get?</h2>

						<ul>
							<li>48 square-foot booth (6 ft. x 8 ft.)</li>
							<li>1 high boy table (30 in. x 42 in.)</li>
							<li>2 stools</li>
							<li>1 conference pass</li>
							<li>1 exhibition hall only pass</li>
							<li>Wi-fi connection</li>
							<li>Company logo and description featured on the LendIt website, LendIt event app and the LendIt show guide</li>
						</ul>

					</div>

				</div>
				<div class="columns medium-10 large-10">
					<div class="small-block-grid-3">
						<li> <%= image_tag("https://s3-us-west-2.amazonaws.com/lendit/startup-zone/feature-1.png", :alt => "Feature 1") %> </li>
						<li> <%= image_tag("https://s3-us-west-2.amazonaws.com/lendit/startup-zone/feature-2.png", :alt => "Feature 2") %> </li>
						<li> <%= image_tag("https://s3-us-west-2.amazonaws.com/lendit/startup-zone/feature-3.png", :alt => "Feature 3") %> </li>
						<li> <%= image_tag("https://s3-us-west-2.amazonaws.com/lendit/startup-zone/feature-4.png", :alt => "Feature 4") %> </li>
						<li> <%= image_tag("https://s3-us-west-2.amazonaws.com/lendit/startup-zone/feature-5.png", :alt => "Feature 5") %> </li>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="columns">
					<div>
						<h2>Investment:</h2>
						<p>$3K</p>
					</div>
				</div>
			</div>
			<div class="row startup-contact">
				<div class="columns">
					<div>
						￼Contact <a href="mailto:joy@lendit.co">joy@lendit.co</a> to secure your place in the Start-up Zone now. Or sign up online at <a href="http://register.lendit.co" target="_blank">register.lendit.co</a>.
					</div>
				</div>
			</div>
			<div class="row startup-disclaimer">
				<div class="columns">
					<p>
						* Admission to the Start-up Zone is at the discretion of LendIt. Spots are limited to 15. Once these spots have been sold, the start up rate will no longer be available.
					</p>
				</div>
			</div>
		</div>
	</div>
</div>
