<% title "LendIt USA 2015 Conference Page" %>
<% meta_description "Join thousands of peer-to-peer and online lending professionals from around the world for the LendIt Conference in New York City" %>
<% meta_keywords "p2p, online lending, peer-to-peer, LendIt Europe" %>
<% body_class "conference-usa15" %>

<div class="general-background">
	<%= render "/welcome/callout" %>
	<div class="hero">
		<div class="hero-inner">
			<div class="hero-content">
				<div class="logo-image">
					<img src="https://s3-us-west-2.amazonaws.com/lendit/lendit-usa14-hero-logo.png">
				</div>

				<div class="hero-button">
					<a href="http://register.lendit.co/d/t4qbfm/4W" onclick="_gaq.push(['_link', 'http://register.lendit.co/d/t4qbfm/4W']); return false;" target="_blank" class="hero-button-loud" >
						<div>
							<span>
								Register now
							</span>
							<strong>
								April 13-15, 2015
							</strong>
						</div>
					</a>

					<a href="https://aws.passkey.com/g/35613120" target="_blank">
						<div>
							<span>
								Reserve hotel room
							</span>
							<strong>
								New York Marriott Marquis
							</strong>
						</div>
					</a>
				</div>
			</div>
		</div>
	</div>

	<main class="ny15">
		<section class="ny15-section">
			<div class="ny15-container">

				<div class="row">
					<div class="large-24 columns">
						<div class="ny15-h1">LendIt USA: April 13-15, 2015 at the Marriott Marquis in NYC</div>
					</div>
				</div>
				<div class="row">
					<div class="small-24 medium-12 large-12 columns ny15-intro">
						<p>
							LendIt USA is the world’s largest annual gathering of the online lending community. This year we will host the largest exhibition ever assembled in our industry with every major platform from around the world. LendIt USA is the must attend annual industry event.
						</p>
						<p>
							Last year's event attracted almost 1,000 attendees. This year, we expect to grow by at least 50%.<br><br>
							<a href="/usa/2015/brochure" target="_blank" style="font-weight:600; text-decoration:underline;">Download the Brochure <i class="fa fa-arrow-circle-right"></i></a>
						</p>
					</div>


					<div class="small-24 medium-12 large-12 columns">
						<div class="panel usa15-buttons-panel">
							<ul class="small-block-grid-2 medium-block-grid-2 large-block-grid-2">
								<li>
									<div class="ny15-prospectus-link2">
										<a href="/usa/2015/floorplan">
											<span>
												<img src="https://s3-us-west-2.amazonaws.com/lendit/sponsors/lendit-usa-2015/floorplan-thumb.png" />
											</span>
											<span class="ny15-prospectus-link-text2">
												View the LendIt USA 2015 floorplan at the New York Marriott Marquis
												<i class="fa fa-arrow-circle-right"></i>
											</span>
										</a>
									</div>
								</li>
								<li>
									<div class="ny15-prospectus-link2">
										<a href="https://s3-us-west-2.amazonaws.com/lendit/uploads/LendIt-USA-2015-Prospectus.pdf" target="_blank">
											<span>
												<img src="https://s3-us-west-2.amazonaws.com/lendit/sponsors/lendit-usa-2015/prospectus-cover.png" />
											</span>
											<span class="ny15-prospectus-link-text2">English Prospectus <i class="fa fa-arrow-circle-right"></i></span>
										</a>
										<a href="https://s3-us-west-2.amazonaws.com/lendit/uploads/lendit-usa-2015-mandarin-prospectus.pdf" target="_blank"><span class="ny15-prospectus-link-text2">中文版的赞助招股章程 <i class="fa fa-arrow-circle-right"></i></span></a>
									</div>
								</li>
							</ul>
						</div>
					</div>
				</div>
			</div>


			<!--  FEATURED SPEAKERS BEGIN  -->
			<div class="row">
				<div class="ny15-header">
					<b>Featured speakers</b>
					<a href="/usa/2015/speakers"> View All Speakers <i class="fa fa-arrow-circle-right"></i></a>
				</div>

				<ul class="small-block-grid-2 medium-block-grid-6 large-block-grid-6 eu14-keynotes " style="margin-top:1em;">
					<% @featured.each do |speaker| %>
					<li>
						<div class="item">
							<%= image_tag speaker.img_url, class: "", alt: speaker.first_name+" "+speaker.last_name %>
							<div class="info">
								<div class="name"><%= speaker.first_name %> <%= speaker.last_name %></div>
								<div class="title"><%= speaker.title %></div>
								<div class="company"><%= speaker.company_name %></div>
							</div>
						</div>
					</li>
					<% end %>
				</ul>
			</div>
			<!--  FEATURED SPEAKERS END  -->

			<!-- SNAPSHOT AGENDA BEGINS -->
			<div class="row">
				<div class=" large-24 columns">

					<div class="ny15-header-agenda">
						<b>Agenda Snapshot</b>
						<a href="/usa/2015/agenda"> View Extended Agenda <i class="fa fa-arrow-circle-right"></i></a>
					</div>
					<%= render "/conferences/usa15_snapshot_agenda" %>
				</div>

			</div>
			<!-- SNAPSHOT AGENDA ENDS -->


			<%= render "usa15_event_overview" %>

			<div class="row">
				<div class="large-24 columns">
					<div class="ny15-wide-quote">
						<div class="ny15-wide-quote-strong">
							"Marketplace lending is arguably the hottest spot for financial innovation today and LendIt is right at its center, stoking the fires with great education, content, and networking. LendIt assembles all the key players, asks all the right questions, and creates the perfect forum to fire up ideas, spark connections, and facilitate deal making."
						</div>
						<div class="ny15-wide-quote-attribute">&mdash; Penelope Holt, Chief Marketing Officer, BorrowersFirst</div>
					</div>
				</div>
			</div>

			<div class="row ny15-callouts">
				<div class="large-24 columns">
					<ul class="small-block-grid-1 medium-block-grid-3 large-block-grid-3">
						<li>
							<div class="ny15-header">Attendee Growth</div>
							<div class="ny15-callout-image">
								<img src="https://s3-us-west-2.amazonaws.com/lendit/photos/ny15-attendperyr.png" class="ny15-attendperyr" />
							</div>
						</li>
						<li>
							<div class="ny15-header"> 2014 Audience Breakdown </div>
							<div class="ny15-callout-image">
								<img src="https://s3-us-west-2.amazonaws.com/lendit/photos/ny15-breakdown.png" class="ny15-attendperyr" />
							</div>
						</li>
						<li>
							<div class="ny15-header"> 2015 Attendee Map </div>
							<div class="ny15-attendee-map-link">
								<a href="/usa/2015/attendees"><img src="https://s3-us-west-2.amazonaws.com/lendit/photos/lendit-sf14-attendees-map.png" /></a>
							</div>
						</li>
					</ul>
				</div>
			</div>


			<div class="row">
				<div class="large-24 columns">
					<div class="ny15-header"> 2014 Photos </div>
					<ul class="small-block-grid-1 medium-block-grid-2 large-block-grid-4">
						<li class="visible">
							<img src="https://s3-us-west-2.amazonaws.com/lendit/photos/ny15-DSC01295-th.JPG" />
						</li>
						<li>
							<img src="https://s3-us-west-2.amazonaws.com/lendit/photos/ny15-DSC01344-th.JPG" />
						</li>
						<li>
							<img src="https://s3-us-west-2.amazonaws.com/lendit/photos/ny15-DSC02127-th.JPG" />
						</li>
						<li>
							<img src="https://s3-us-west-2.amazonaws.com/lendit/photos/ny15-DSC01708-th.JPG" />
						</li>
					</ul>
				</div>
			</div>
		</div>
	</section>


</main>
</div>
