<%= title "LendIt Europe 2014 Videos" %>
<% meta_description "Videos of the inaugural LendIt Europe Conference" %>
<% meta_keywords "p2p, online lending, peer-to-peer, LendIt, Europe, videos, presentations" %>

<% body_class "vid-index vid-conf-index" %>


<div class="general-background">
	<div class="row">
		<div class="columns">


			<div class="back">
				<a href="/videos">Videos Main</a>
			</div>


			<h1>LendIt Europe 2014 Videos</h1>

			<br>

			<ul class="small-block-grid-1 medium-block-grid-3 large-block-grid-4">
				<% @eu14videos.each do |video| %>
					<li>
							<%= link_to eu14_video_path(video), class: 'video-item' do %>
								<div class="video-image">
									<img src="<%= video.img %>" alt="<%= video.title %>">
								</div>
								<div class="video-title">
									<%= raw video.title %>

								</div>
							<% end %>
						</li>
					<% end %>
				</ul>



			</div>
		</div>
	</div>
