
<div class="page-video">
  <div class="video-main">
    <div class="row">
      <div class="columns">
        <div class="link-back-to-videos">
          <%= link_to 'Videos', videos_path %>
        </div>
        <div class="video-embed">
          <!-- can we make this embed width 100%? -->
          <%= raw @video.embed %>
        </div>
        <div class="video-title">
          <%= raw @video.title %>
        </div>
        <div class="conf-id">

        <div>
          <% if !@video.podcast.nil? %>
          <%= raw @video.podcast.audio_embed %>
          <% end %>
        </div>
        </div>
        <div class="video-description">
          <%= raw @video.description %><br /><br />
          <%= raw @video.conference.description %>
        </div>

        <div>
          <a href="https://itunes.apple.com/us/podcast/lendit-conference/id962047495" target="_blank">Subscribe via iTunes</a>  |  <a href="http://liaudio.lendit.libsynpro.com/rss" target="_blank">RSS Feed</a>  |  <a href="http://www.stitcher.com/podcast/lendit-conference?refid=stpr" target="_blank">Listen on Stitcher</a>
        </div>
      </div>
    </div>
  </div>
</div>
