<%= link_to '<< Videos', videos_path %>

<div style="width: 600px;">
  <%= raw @video.embed %>
</div>

<div>
  <%= @video.title %><br />
  <%= @video.conference_id %>
</div>

<div>
  <%= @video.description %>
</div>
