<%= title @video.title + " Video at LendIt China 2015" %>
<% meta_description "LendIt China 2015 Peer-to-Peer and Online Lending Conference Videos" %>
<% meta_keywords "p2p, online lending, peer-to-peer, LendIt, LendIt China, videos, presentations" %>

<% body_class "vid-show" %>


<div class="general-background">
  <div class="row">
    <div class="columns">
      <div class="back">
        <%= link_to 'LendIt China 2015 Videos', china_2015_videos_path %>
      </div>
      <div class="video-embed">
        <!-- can we make this embed width 100%? -->
        <%= raw @video.embed %>
      </div>
      <div class="video-title">
        <%= raw @video.title %>
      </div>
      <div class="conf-id">

        <div>
          <% if !@video.podcast.nil? %>
            <%= raw @video.podcast.audio_embed %>
            <div class="podcast-actions">
              <div>
                <a href="https://itunes.apple.com/us/podcast/lendit-conference/id962047495" target="_blank"> <i class="fa fa-music"></i> Subscribe via iTunes</a>
              </div>
              <div>
                <a href="http://liaudio.lendit.libsynpro.com/rss" target="_blank"> <i class="fa fa-rss"></i> RSS Feed</a>
              </div>
              <div>
                <a href="http://www.stitcher.com/podcast/lendit-conference?refid=stpr" target="_blank"> <i class="fa fa-play-circle-o"></i> Listen on Stitcher</a>
              </div>
            </div>
          <% end %>
        </div>


        <div class="video-description">
          <%= raw @video.description %><br /><br />
          LendIt returns to China July 7-14 for a 7-day tour through Beijing and Shanghai to meet with the top Chinese firms, investors, and regulators in the online lending ecosystem.
        </div>

      </div>
    </div>
  </div>

</div>
