<%= title "About LendIt - Peer-to-Peer & Online Lending Conference" %>
<% meta_description "LendIt Conference helps you learn, network, and connect with top internet finance leaders in China. Register now to reserve your spot and get the best rates." %>
<% meta_keywords "p2p, online lending, peer-to-peer, LendIt, speakers, LendIt Conference" %>
<%= canonical_tag -%>
<style>
	main {
		color: black;
	}
</style>
<main>
	<div class="subhero">
		<div class="container">
			<div class="cols">
				<div class="col1">
					<header>
						<h1>About LendIt</h1>
					</header>
					<section>
						<p>
							LendIt is the preeminent conference for the burgeoning global online lending industry. LendIt brings together the leading and emerging online lending platforms, investors and service providers for an unparalleled educational and networking experience. Financial innovators, investors and pioneers from all over the world attend LendIt for an opportunity to learn from market leaders, form key business alliances, and showcase and launch industry-moving products.
						</p>
					</section>
				</div>
				<div class="col2">
					<section>
						<h2>Who attends LendIt?</h2>
						<p>
							LendIt is the must-attend event for anyone looking to keep up with industry trends and engage in rich in-person interactions. LendIt attendees are comprised of institutional investors, private wealth managers, family offices, select members of the financial media, individual investors and industry participants.
						</p>
					</section>
				</div>
			</div>
		</div>
	</div>
	<div class="main-about">
		<div class="container">
			<div class="cols">
				<div class="col1">
					<section>
						<h2>LENDIT HISTORY</h2>

						<div class="about-event">
							<h3>LendIt 2013 - New York City</h3>
							<div class="event-image"><%= image_tag("lendit-2013.jpg", :alt => "LendIt 2013") %></div>
							<p>
								Our inaugural conference, LendIt 2013, was held in New York City in June 2013 with 350 attendees. It was the first p2p lending conference ever and was completely sold out. It was a one-day conference featuring most of the pioneers in the p2p lending industry. To find out more about LendIt 2013 you can read this <a href="http://www.lendacademy.com/wrap-up-of-last-weeks-lendit-conference/" target="_blank">wrap-up of the conference from Lend Academy</a> or you can <a href="https://s3-us-west-2.amazonaws.com/lendit/LendIt-2013-agenda-program.pdf" target="_blank">download the official program and agenda here</a>.
							</p>
						</div>
						<div class="about-event">
							<h3>LendIt 2014 - San Francisco</h3>
							<div class="event-image">
								<%= image_tag("lendit-2014.jpg", :alt => "LendIt 2014") %>
							</div>
							<p>
								The second LendIt Conference built off the success of the first. We had over 950 people attend at the two-day conference at the Hilton Hotel in San Francisco on May 5-6. There was also a pre-conference cocktail party on Sunday night before the conference at the 46th floor function room at the Hilton. To find out more about LendIt 2014 you can read this <a href="http://www.lendacademy.com/wrap-up-of-the-2014-lendit-conference/" target="_blank">wrap-up of the conference from Lend Academy</a> or you can <a href="https://s3-us-west-2.amazonaws.com/lendit/LendIt-2014-agenda.pdf" target="_blank">download the official agenda here</a>.
							</p>
						</div>
						<div class="event-event">
							<h3>LendIt Shanghai 2014</h3>
							<div class="event-image">
								<%= image_tag("lendit-shanghai.jpg", :alt => "LendIt Shanghai") %>
							</div>
							<p>
								In Shanghai we partnered with the Shanghai Finance Institute to co-host the Bund Summitt 2014 on July 19-20, 2014. Also known as LendIt Shanghai, there were 400 attendees at the Peninsula Hotel in Shanghai. You can read the review of this conference on Lend Academy (link not yet live).
							</p>
						</div>
					</section>
				</div>
				<div class="col2">
					<section>
						<h2>What attendees are saying about LendIt</h2>
						<div class="quote-container">
							<div class="quote">
								“LendIt is the go-to conference to get a consolidated view on the P2P lending industry as well as establish commercial relationships at a global scale.”
							</div>
							<div class="quote-speaker">
								- Johan Locke, Director, Barclays
							</div>
						</div>
						<div class="quote-container">
							<div class="quote">
								“The LendIt team has brought together the leading industry event for Marketplace Lending. If you only go to one event to learn about this exciting sector, make sure it is LendIt.”
							</div>
							<div class="quote-speaker">
								- Jacob Haar, Managing Partner, Community Investment Management
							</div>
						</div>
						<div class="quote-container">
							<div class="quote">
								“Increasingly the must-attend Global P2P conference for platforms and investors to understand the latest trends and to network.”
							</div>
							<div class="quote-speaker">
								- Cormac Leech, Analyst, Liberum Capital
							</div>
						</div>
						<div class="quote-container">
							<div class="quote">
								<div>
									“LendIt is a must for anybody seriously involved in the peer lending space, absolutely a must.”
								</div>
								<div class="quote-speaker">
									- Emmanuel Marot, Co-Founder, LendingRobot
								</div>
							</div>
							<div class="quote-container">
								<div class="quote">
									“LendIt is THE place to meet people from the P2P industry.	As a newcomer, I found the exposure to be tremendously valuable.”
								</div>
								<div class="quote-speaker">
									- David Shimko, CEO and President, CreditCircle, Inc.
								</div>
							</div>
						</section>
					</div>
				</div>
			</div>
		</div>
	</div>
</main>
