<%= title "LendIt Sponsors Page" %>
<% meta_description "Sponsors of the LendIt Europe 2014 Peer-to-Peer and Online Lending Conference." %>
<% meta_keywords "p2p, online lending, peer-to-peer, LendIt, sponsors" %>
<%= canonical_tag -%>
<main class="sponsors-page">
	<div class="sponsors-main">
		<div class="sponsors-text-a">
			<div class="table">
				<div class="cell">
			<h1>LendIt Europe Sponsors</h1>
			<p>The following sponsors have been confirmed for LendIt Europe 2014.&nbsp;
			<a href="#more-sponsors-info" style="font-weight:500; "><span class="fa fa-arrow-circle-o-down"></span> More info below  </a></p>
				</div>
				<div class="cell">
				</div>
			</div>
		</div>


		<!-- begin SPONSORS A -->
		<div class="sponsors-a">


			<!-- begin PLATINUM -->
			<div class="grouping grouping-platinum">
				<% if @platinum.any? %>
					<div class="header"> Platinum Sponsors </div>
					<div class="group">
						<% @platinum.each do |sponsor| %>
							<div class="item">
								<a class="sponsor-top" href="#sponsor-<%= sponsor.id %>" style="background-image:url(<%= sponsor.logo_img %>)">
								</a>


								<!-- begin bio -->
								<div style="display:none;" class="speaker-bio">
									<div id="sponsor-<%= sponsor.id %>" class="speaker-container">
										<div class="speaker-colorbox-title">Sponsors</div>
										<div class="speaker-top-info">
											<img src="<%= sponsor.logo_img %>" alt="<%= sponsor.company_name %>" class="modal-sponsor-image">
											<div class="speaker-name">LendIt Europe</div>
											<div class="speaker-title"><%= sponsor.sponsor_level %> Sponsor</div>
											<% if sponsor.url != nil %>
												<div class="speaker-company">
													<a href="<%= sponsor.url %>" target="_blank">Visit <%= sponsor.company_name %> ></a>
												</div>
											<% end %>
										</div>
										<div class="speaker-bio-text">
											<div class="speaker-bio-text-inner"><%= raw sponsor.description %></div>
										</div>
										<div class="speaker-bio-mask"></div>
									</div>
								</div>
								<!-- end bio -->


							</div>
						<% end %>
					</div>
				<% end %>
			</div>
			<!-- end PLATINUM -->




			<!-- begin GOLD -->
			<div class="grouping grouping-gold">
				<% if @gold.any? %>
					<div class="header"> Gold Sponsors </div>
					<div class="group">
						<% @gold.each do |sponsor| %>
							<div class="item">
								<a class="sponsor-top" href="#sponsor-<%= sponsor.id %>" style="background-image:url(<%= sponsor.logo_img %>)">
								</a>


								<!-- begin bio -->
								<div style="display:none;" class="speaker-bio">
									<div id="sponsor-<%= sponsor.id %>" class="speaker-container">
										<div class="speaker-colorbox-title">Sponsors</div>
										<div class="speaker-top-info">
											<img src="<%= sponsor.logo_img %>" alt="<%= sponsor.company_name %>" class="modal-sponsor-image">
											<div class="speaker-name">LendIt Europe</div>
											<div class="speaker-title"><%= sponsor.sponsor_level %> Sponsor</div>
											<% if sponsor.url != nil %>
												<div class="speaker-company">
													<a href="<%= sponsor.url %>" target="_blank">Visit <%= sponsor.company_name %> ></a>
												</div>
											<% end %>
										</div>
										<div class="speaker-bio-text">
											<div class="speaker-bio-text-inner"><%= raw sponsor.description %></div>
										</div>
										<div class="speaker-bio-mask"></div>
									</div>
								</div>
								<!-- end bio -->


							</div>
						<% end %>
					</div>
				<% end %>
			</div>
			<!-- end GOLD -->




			<!-- begin SILVER -->
			<div class="grouping grouping-silver">
				<% if @silver.any? %>
					<div class="header">
						Silver Sponsors
					</div>
					<div class="group">
						<% @silver.each do |sponsor| %>
							<div class="item">
								<a class="sponsor-top" href="#sponsor-<%= sponsor.id %>" style="background-image:url(<%= sponsor.logo_img %>)">


									<!-- begin bio -->
									<div style="display:none;" class="speaker-bio">
										<div id="sponsor-<%= sponsor.id %>" class="speaker-container">
											<div class="speaker-colorbox-title">Sponsors</div>
											<div class="speaker-top-info">
												<img src="<%= sponsor.logo_img %>" alt="<%= sponsor.company_name %>" class="modal-sponsor-image">
												<div class="speaker-name">LendIt Europe</div>
												<div class="speaker-title"><%= sponsor.sponsor_level %> Sponsor</div>
												<% if sponsor.url != nil %>
													<div class="speaker-company">
														<a href="<%= sponsor.url %>" target="_blank">Visit <%= sponsor.company_name %> ></a>
													</div>
												<% end %>
											</div>
											<div class="speaker-bio-text">
												<div class="speaker-bio-text-inner"><%= raw sponsor.description %></div>
											</div>
											<div class="speaker-bio-mask"></div>
										</div>
									</div>
									<!-- end bio -->


								</div>
							<% end %>
						</div>
					<% end %>
				</div>
				<!-- end SILVER -->




				<!-- begin BRONZE -->
				<div class="grouping">
					<% if @bronze.any? %>
						<div class="header"> Bronze Sponsors </div>
						<div class="group">
							<% @bronze.each do |sponsor| %>
								<div class="item">
									<a class="sponsor-top" href="#sponsor-<%= sponsor.id %>" style="background-image:url(<%= sponsor.logo_img %>)">


										<!-- begin bio -->
										<div style="/*temp styles*/display:none;" class="speaker-bio">
											<div id="sponsor-<%= sponsor.id %>" class="speaker-container">
												<div class="speaker-colorbox-title">Sponsors</div>
												<div class="speaker-top-info">
													<img src="<%= sponsor.logo_img %>" alt="<%= sponsor.company_name %>" class="modal-sponsor-image">
													<div class="speaker-name">LendIt Europe</div>
													<div class="speaker-title"><%= sponsor.sponsor_level %> Sponsor</div>
													<% if sponsor.url != nil %>
														<div class="speaker-company">
															<a href="<%= sponsor.url %>" target="_blank">Visit <%= sponsor.company_name %> ></a>
														</div>
													<% end %>
												</div>
												<div class="speaker-bio-text">
													<div class="speaker-bio-text-inner"><%= raw sponsor.description %></div>
												</div>
												<div class="speaker-bio-mask"></div>
											</div>
										</div>
										<!-- end bio -->


									</div>
								<% end %>
							</div>
						<% end %>
					</div>
					<!-- end BRONZE -->


				</div>
				<!-- end SPONSORS-A -->




				<!-- begin SPONSORS-B -->
				<div class="sponsors-b other">
					<div class="sponsors-b-header">Other</div>
					<div class="grouping">


						<!-- begin cocktails -->
						<% if @cocktails.any? %>
							<div class="sponsor-section cocktail">
								<div class="header">
									Cocktail Party
								</div>
								<div class="group">
									<% @cocktails.each do |sponsor| %>
										<div class="item">
											<a class="sponsor-top" href="#sponsor-<%= sponsor.id %>" style="background-image:url(<%= sponsor.logo_img %>)"></a>


												<!-- begin bio -->
												<div style="display:none;" class="speaker-bio">
													<div id="sponsor-<%= sponsor.id %>" class="speaker-container">
														<div class="speaker-colorbox-title">Sponsors</div>
														<div class="speaker-top-info">
															<img src="<%= sponsor.logo_img %>" alt="<%= sponsor.company_name %>" class="modal-sponsor-image">
															<div class="speaker-name">LendIt Europe</div>
															<div class="speaker-title"><%= sponsor.sponsor_level %> Sponsor</div>
															<% if sponsor.url != nil %>
																<div class="speaker-company">
																	<a href="<%= sponsor.url %>" target="_blank">Visit <%= sponsor.company_name %> ></a>
																</div>
															<% end %>
														</div>
														<div class="speaker-bio-text">
															<div class="speaker-bio-text-inner"><%= raw sponsor.description %></div>
														</div>
														<div class="speaker-bio-mask"></div>
													</div>
												</div>
												<!-- end bio -->


											</div>
										<% end %>
									</div>
								</div>
							<% end %>
							<!-- end cocktails -->




							<!-- begin smartphone -->
							<% if @smartphone.any? %>
								<div class="sponsor-section smartphone">
									<div class="header"> Smartphone App  </div>
									<div class="group">
										<% @smartphone.each do |sponsor| %>
											<div class="item">
												<a class="sponsor-top" href="#sponsor-<%= sponsor.id %>" style="background-image:url(<%= sponsor.logo_img %>)"></a>


													<!-- begin bio -->
													<div style="display:none;" class="speaker-bio">
														<div id="sponsor-<%= sponsor.id %>" class="speaker-container">
															<div class="speaker-colorbox-title">Sponsors</div>
															<div class="speaker-top-info">
																<img src="<%= sponsor.logo_img %>" alt="<%= sponsor.company_name %>" class="modal-sponsor-image">
																<div class="speaker-name">LendIt Europe</div>
																<div class="speaker-title"><%= sponsor.sponsor_level %> Sponsor</div>
																<% if sponsor.url != nil %>
																	<div class="speaker-company">
																		<a href="<%= sponsor.url %>" target="_blank">Visit <%= sponsor.company_name %> ></a>
																	</div>
																<% end %>
															</div>
															<div class="speaker-bio-text">
																<div class="speaker-bio-text-inner"><%= raw sponsor.description %></div>
															</div>
															<div class="speaker-bio-mask"></div>
														</div>
													</div>
													<!-- end bio -->


												</div>
											<% end %>
										</div>
									</div>
								<% end %>
								<!-- end smartphone -->





								<!-- begin breakfast -->
								<% if @breakfast.any? %>
									<div class="sponsor-section breakfast">
										<div class="header">
											Breakfast
										</div>
										<div class="group">
											<% @breakfast.each do |sponsor| %>
												<div class="item">
													<a class="sponsor-top" href="#sponsor-<%= sponsor.id %>" style="background-image:url(<%= sponsor.logo_img %>)">
													</a>


													<!-- begin bio -->
													<div style="/*temp styles*/display:none;" class="speaker-bio">
														<div id="sponsor-<%= sponsor.id %>" class="speaker-container">
															<div class="speaker-colorbox-title">Sponsors</div>
															<div class="speaker-top-info">
																<img src="<%= sponsor.logo_img %>" alt="<%= sponsor.company_name %>" class="modal-sponsor-image">
																<div class="speaker-name">LendIt Europe</div>
																<div class="speaker-title"><%= sponsor.sponsor_level %> Sponsor</div>
																<% if sponsor.url != nil %>
																	<div class="speaker-company">
																		<a href="<%= sponsor.url %>" target="_blank">Visit <%= sponsor.company_name %> ></a>
																	</div>
																<% end %>
															</div>
															<div class="speaker-bio-text">
																<div class="speaker-bio-text-inner"><%= raw sponsor.description %></div>
															</div>
															<div class="speaker-bio-mask"></div>
														</div>
													</div>
													<!-- end bio -->


												</div>
											<% end %>
										</div>
									</div>
								<% end %>
								<!-- end breakfast -->




								<!-- begin lunch -->
								<% if @lunch.any? %>
									<div class="sponsor-section lunch">
										<div class="header">
												Lunch
										</div>
										<div class="group">
											<% @lunch.each do |sponsor| %>
												<div class="item">
													<a class="sponsor-top" href="#sponsor-<%= sponsor.id %>" style="background-image:url(<%= sponsor.logo_img %>)">
													</a>


													<!-- begin bio -->
													<div style="/*temp styles*/display:none;" class="speaker-bio">
														<div id="sponsor-<%= sponsor.id %>" class="speaker-container">
															<div class="speaker-colorbox-title">Sponsors</div>
															<div class="speaker-top-info">
																<img src="<%= sponsor.logo_img %>" alt="<%= sponsor.company_name %>" class="modal-sponsor-image">
																<div class="speaker-name">LendIt Europe</div>
																<div class="speaker-title"><%= sponsor.sponsor_level %> Sponsor</div>
																<% if sponsor.url != nil %>
																	<div class="speaker-company">
																		<a href="<%= sponsor.url %>" target="_blank">Visit <%= sponsor.company_name %> ></a>
																	</div>
																<% end %>
															</div>
															<div class="speaker-bio-text">
																<div class="speaker-bio-text-inner"><%= raw sponsor.description %></div>
															</div>
															<div class="speaker-bio-mask"></div>
														</div>
													</div>
													<!-- end bio -->


												</div>
											<% end %>
										</div>
									</div>
								<% end %>
								<!-- end lunch -->


								<!-- begin networking break -->
								<% if @networking.any? %>
									<div class="sponsor-section networking">

										<div class="header">
												Networking Break
										</div>
										<div class="group">
											<% @networking.each do |sponsor| %>
												<div class="item">
													<a class="sponsor-top" href="#sponsor-<%= sponsor.id %>" style="background-image:url(<%= sponsor.logo_img %>)">
													</a>


													<!-- begin bio -->
													<div style="/*temp styles*/display:none;" class="speaker-bio">
														<div id="sponsor-<%= sponsor.id %>" class="speaker-container">
															<div class="speaker-colorbox-title">Sponsors</div>
															<div class="speaker-top-info">
																<img src="<%= sponsor.logo_img %>" alt="<%= sponsor.company_name %>" class="modal-sponsor-image">
																<div class="speaker-name">LendIt Europe</div>
																<div class="speaker-title"><%= sponsor.sponsor_level %> Sponsor</div>
																<% if sponsor.url != nil %>
																	<div class="speaker-company">
																		<a href="<%= sponsor.url %>" target="_blank">Visit <%= sponsor.company_name %> ></a>
																	</div>
																<% end %>
															</div>
															<div class="speaker-bio-text">
																<div class="speaker-bio-text-inner"><%= raw sponsor.description %></div>
															</div>
															<div class="speaker-bio-mask"></div>
														</div>
													</div>
													<!-- end bio -->


												</div>
											<% end %>
										</div>
									</div>
								<% end %>
								<!-- end networking break -->

								<!-- begin media partner -->
								<% if @media.any? %>
									<div class="sponsor-section media">
										<div class="header">
												Media Partner
										</div>
										<div class="group">
											<% @media.each do |sponsor| %>
												<div class="item">
													<a class="sponsor-top" href="#sponsor-<%= sponsor.id %>" style="background-image:url(<%= sponsor.logo_img %>)">
													</a>


													<!-- begin bio -->
													<div style="/*temp styles*/display:none;" class="speaker-bio">
														<div id="sponsor-<%= sponsor.id %>" class="speaker-container">
															<div class="speaker-colorbox-title">Sponsors</div>
															<div class="speaker-top-info">
																<img src="<%= sponsor.logo_img %>" alt="<%= sponsor.company_name %>" class="modal-sponsor-image">
																<div class="speaker-name">LendIt Europe</div>
																<div class="speaker-title"><%= sponsor.sponsor_level %> Sponsor</div>
																<% if sponsor.url != nil %>
																	<div class="speaker-company">
																		<a href="<%= sponsor.url %>" target="_blank">Visit <%= sponsor.company_name %> ></a>
																	</div>
																<% end %>
															</div>
															<div class="speaker-bio-text">
																<div class="speaker-bio-text-inner"><%= raw sponsor.description %></div>
															</div>
															<div class="speaker-bio-mask"></div>
														</div>
													</div>
													<!-- end bio -->


												</div>
											<% end %>
										</div>
									</div>
								<% end %>
								<!-- end media partner -->
								</div>
							</div>
				<div class="sponsors-b exhib">
					<div class="sponsors-b-header">Exhibitors</div>

					<div class="grouping">





								<!-- begin exhibitor -->
								<% if @exhibitor.any? %>
									<div class="sponsor-section sponsor-exhibitor">
										<div class="header"> Exhibitor </div>
										<div class="group">
											<% @exhibitor.each do |sponsor| %>
												<div class="item">
													<a class="sponsor-top" href="#sponsor-<%= sponsor.id %>" style="background-image:url(<%= sponsor.logo_img %>)">
													</a>


													<!-- begin bio -->
													<div style="display:none;" class="speaker-bio">
														<div id="sponsor-<%= sponsor.id %>" class="speaker-container">
															<div class="speaker-colorbox-title">Sponsors</div>
															<div class="speaker-top-info">
																<img src="<%= sponsor.logo_img %>" alt="<%= sponsor.company_name %>" class="modal-sponsor-image">
																<div class="speaker-name">LendIt Europe</div>
																<div class="speaker-title"><%= sponsor.sponsor_level %></div>
																<% if sponsor.url != nil %>
																	<div class="speaker-company">
																		<a href="<%= sponsor.url %>" target="_blank">Visit <%= sponsor.company_name %> ></a>
																	</div>
																<% end %>
															</div>
															<div class="speaker-bio-text">
																<div class="speaker-bio-text-inner"><%= raw sponsor.description %></div>
															</div>
															<div class="speaker-bio-mask"></div>
														</div>
													</div>
													<!-- end bio -->


												</div>
											<% end %>
										</div>
									</div>
								<% end %>
								<!-- end exhibitor -->


							</div>
						</div>
						<!-- end SPONSORS-B -->

						<div id="more-sponsors-info" class="sponsors-text-b">
						<p> LendIt sponsors receive extensive brand exposure to a core audience of prominent industry insiders and investment professionals through a powerful combination of multiple media including: web presence, webcasts, e-marketing campaigns, print advertising, widespread on-site recognition, signage, event giveaways and program exposure. Sponsorship opportunities are enjoyed before, during and after the event. Brand sponsorship is open to financial, legal technology and professional service firms in addition to high-end consumer brands. </p>
						<p> LendIt provides industry participants the opportunity to showcase their products and services at LendIt’s acclaimed exhibit hall, which is a focal point for extensive participant interaction. This is the ideal opportunity for market leaders and new entrants alike to exhibit to fund managers, asset allocators, family offices, venture capitalists, individual investors, industry veterans and members of the financial media. </p>
						<p> For more information on sponsorship and exhibitor opportunities, please email <a href="mailto:info@lendit.co">info@lendit.co</a>. </p>

					<div class="sponsorship-packages"><a href="/assets/LendIt-Europe-Sponsorship-Packages.pdf" target="_new"><button>Download Sponsorship Packages</button></a></div>


					</div>

					</main>

