<%= title "LendIt USA 2015 Sponsors, Exhibitors and Start-Ups Page" %>
<% meta_description "Sponsors of the LendIt USA 2015 Peer-to-Peer and Online Lending Conference." %>
<% meta_keywords "p2p, online lending, peer-to-peer, LendIt, sponsors" %>
<%= canonical_tag -%>
<% body_class "usa15-sponsors" %>
<div class="general-background">
	<div class="row">
		<div class="columns large-24">
			<div class="sponsors-header">
				LendIt USA Sponsors
			</div>
			<p class="sponsors-intro-text">The following sponsors have been confirmed for LendIt USA 2015.&nbsp;
				<a href="#" style="font-weight:500; " data-reveal-id="sponsors-more-info"><span class="fa fa-arrow-circle-o-down"></span> More info	</a>
			</p>
			<div class="sponsors-section">
				<div class="sponsors-section-head">
					Title Sponsor
				</div>
				<ul class="small-block-grid-2 large-block-grid-3">
					<% @title.each do |sponsor| %>
						<% if !sponsor.description.empty? %>
						<li>
							<a href="#" class="sponsors-thumb" data-reveal-id="sponsor-modal-<%= sponsor.id %>">
								<img src="<%= sponsor.logo_img %>" />
							</a>
						</li>

						<div id="sponsor-modal-<%= sponsor.id %>" class="reveal-modal" data-reveal>
							<div class="sponsor-category"><span>LendIt USA 2015</span> <b><%= sponsor.sponsor_level %> Sponsor</b></div>
							<p class="sponsor-modal-thumb"><img src="<%= sponsor.logo_img %>" /></p>
							<p class="sponsor-modal-visit"><a href="<%= raw sponsor.url %>" target="_blank">Visit <%= sponsor.company_name %></a></p>
							<p class="sponsor-modal-description"><%= raw sponsor.description %></p>
							<a class="close-reveal-modal">&#215;</a>
						</div>

            <% else %>

              <li>
                <a href="<%= sponsor.url %>" class="sponsors-thumb" target="_blank">
                  <img src="<%= sponsor.logo_img %>" />
                </a>
              </li>

             <% end %>
					<% end %>
				</ul>
			</div>
			<div class="sponsors-section">
				<div class="sponsors-section-head">
					Platinum Sponsors
				</div>
				<ul class="small-block-grid-2 large-block-grid-3">
					<% @platinum.each do |sponsor| %>

						<% if !sponsor.description.empty? %>
						<li>
							<a href="#" class="sponsors-thumb" data-reveal-id="sponsor-modal-<%= sponsor.id %>">
								<img src="<%= sponsor.logo_img %>" />
							</a>
						</li>

						<div id="sponsor-modal-<%= sponsor.id %>" class="reveal-modal" data-reveal>
							<div class="sponsor-category"><span>LendIt USA 2015</span> <b><%= sponsor.sponsor_level %> Sponsor</b></div>
							<p class="sponsor-modal-thumb"><img src="<%= sponsor.logo_img %>" /></p>
							<p class="sponsor-modal-visit"><a href="<%= raw sponsor.url %>" target="_blank">Visit <%= sponsor.company_name %></a></p>
							<p class="sponsor-modal-description"><%= raw sponsor.description %></p>
							<a class="close-reveal-modal">&#215;</a>
						</div>

						<% else %>
							<li>
								<a href="<%= sponsor.url %>" class="sponsors-thumb" target="_blank">
									<img src="<%= sponsor.logo_img %>" />
								</a>
							</li>
						<% end %>
					<% end %>
				</ul>
			</div>
			<div class="sponsors-section">
				<div class="sponsors-section-head">
					Gold Sponsors
				</div>
				<ul class="small-block-grid-2 large-block-grid-3">
					<% @gold.each do |sponsor| %>

						<% if !sponsor.description.empty? %>
						<li>
							<a href="#" class="sponsors-thumb" data-reveal-id="sponsor-modal-<%= sponsor.id %>">
								<img src="<%= sponsor.logo_img %>" />
							</a>
						</li>

						<div id="sponsor-modal-<%= sponsor.id %>" class="reveal-modal" data-reveal>
							<div class="sponsor-category"><span>LendIt USA 2015</span> <b><%= sponsor.sponsor_level %> Sponsor</b></div>
							<p class="sponsor-modal-thumb"><img src="<%= sponsor.logo_img %>" /></p>
							<p class="sponsor-modal-visit"><a href="<%= raw sponsor.url %>" target="_blank">Visit <%= sponsor.company_name %></a></p>
							<p class="sponsor-modal-description"><%= raw sponsor.description %></p>
							<a class="close-reveal-modal">&#215;</a>
						</div>

						<% else %>
							<li>
								<a href="<%= sponsor.url %>" class="sponsors-thumb" target="_blank">
									<img src="<%= sponsor.logo_img %>" />
								</a>
							</li>
						<% end %>
					<% end %>
				</ul>
			</div>
			<div class="sponsors-section">
				<div class="sponsors-section-head">
					Silver Sponsors
				</div>
				<ul class="small-block-grid-2 large-block-grid-3">
					<% @silver.each do |sponsor| %>

						<% if !sponsor.description.empty? %>
						<li>
							<a href="#" class="sponsors-thumb" data-reveal-id="sponsor-modal-<%= sponsor.id %>">
								<img src="<%= sponsor.logo_img %>" />
							</a>
						</li>

						<div id="sponsor-modal-<%= sponsor.id %>" class="reveal-modal" data-reveal>
							<div class="sponsor-category"><span>LendIt USA 2015</span> <b><%= sponsor.sponsor_level %> Sponsor</b></div>
							<p class="sponsor-modal-thumb"><img src="<%= sponsor.logo_img %>" /></p>
							<p class="sponsor-modal-visit"><a href="<%= raw sponsor.url %>" target="_blank">Visit <%= sponsor.company_name %></a></p>
							<p class="sponsor-modal-description"><%= raw sponsor.description %></p>
							<a class="close-reveal-modal">&#215;</a>
						</div>

						<% else %>
							<li>
								<a href="<%= sponsor.url %>" class="sponsors-thumb" target="_blank">
									<img src="<%= sponsor.logo_img %>" />
								</a>
							</li>
						<% end %>
					<% end %>
				</ul>
			</div>
			<div class="sponsors-section">
				<div class="sponsors-section-head">
					Bronze Sponsors
				</div>
				<ul class="small-block-grid-2 large-block-grid-3">
					<% @bronze.each do |sponsor| %>

						<% if !sponsor.description.empty? %>
						<li>
							<a href="#" class="sponsors-thumb" data-reveal-id="sponsor-modal-<%= sponsor.id %>">
								<img src="<%= sponsor.logo_img %>" />
							</a>
						</li>

						<div id="sponsor-modal-<%= sponsor.id %>" class="reveal-modal" data-reveal>
							<div class="sponsor-category"><span>LendIt USA 2015</span> <b><%= sponsor.sponsor_level %> Sponsor</b></div>
							<p class="sponsor-modal-thumb"><img src="<%= sponsor.logo_img %>" /></p>
							<p class="sponsor-modal-visit"><a href="<%= raw sponsor.url %>" target="_blank">Visit <%= sponsor.company_name %></a></p>
							<p class="sponsor-modal-description"><%= raw sponsor.description %></p>
							<a class="close-reveal-modal">&#215;</a>
						</div>

						<% else %>
							<li>
								<a href="<%= sponsor.url %>" class="sponsors-thumb" target="_blank">
									<img src="<%= sponsor.logo_img %>" />
								</a>
							</li>
						<% end %>
					<% end %>
				</ul>
			</div>
			<div class="sponsors-section">
				<div class="sponsors-section-head">
					Mobile App Sponsor
				</div>
				<ul class="small-block-grid-2 large-block-grid-3">
					<% @mobile.each do |sponsor| %>

						<% if !sponsor.description.empty? %>
						<li>
							<a href="#" class="sponsors-thumb" data-reveal-id="sponsor-modal-<%= sponsor.id %>">
								<img src="<%= sponsor.logo_img %>" />
							</a>
						</li>

						<div id="sponsor-modal-<%= sponsor.id %>" class="reveal-modal" data-reveal>
							<div class="sponsor-category"><span>LendIt USA 2015</span> <b><%= sponsor.sponsor_level %> Sponsor</b></div>
							<p class="sponsor-modal-thumb"><img src="<%= sponsor.logo_img %>" /></p>
							<p class="sponsor-modal-visit"><a href="<%= raw sponsor.url %>" target="_blank">Visit <%= sponsor.company_name %></a></p>
							<p class="sponsor-modal-description"><%= raw sponsor.description %></p>
							<a class="close-reveal-modal">&#215;</a>
						</div>

						<% else %>
							<li>
								<a href="<%= sponsor.url %>" class="sponsors-thumb" target="_blank">
									<img src="<%= sponsor.logo_img %>" />
								</a>
							</li>
						<% end %>
					<% end %>
				</ul>
			</div>
			<div class="sponsors-section">
				<div class="sponsors-section-head">
					Exhibitors
				</div>
				<ul class="small-block-grid-2 large-block-grid-3">
					<% @exhibitors.each do |company| %>
						<% if !company.description.empty? %>
							<li>
								<a href="#" class="sponsors-thumb" target="_blank" data-reveal-id="sponsor-modal-<%= company.id %>">
									<img src="<%= company.logo_img %>" />
								</a>
							</li>
							<div id="sponsor-modal-<%= company.id %>" class="reveal-modal" data-reveal>
								<div class="sponsor-category"><span>LendIt USA 2015</span> <b>Exhibitor</b></div>
								<p class="sponsor-modal-thumb"><img src="<%= company.logo_img %>" /></p>
								<p class="sponsor-modal-visit"><a href="<%= raw company.url %>" target="_blank">Visit <%= company.company_name %></a></p>
								<p class="sponsor-modal-description"><%= raw company.description %></p>
								<a class="close-reveal-modal">&#215;</a>
							</div>
						<% else %>
							<li>
								<a href="<%= company.url %>" class="sponsors-thumb" target="_blank">
									<img src="<%= company.logo_img %>" />
								</a>
							</li>
						<% end %>
					<% end %>
				</ul>
			</div>
			<div class="sponsors-section">
				<div class="sponsors-section-head">
					Start-Up Zone
				</div>
				<ul class="small-block-grid-2 large-block-grid-3">
					<% @startups.each do |company| %>
						<% if !company.description.empty? %>
							<li data-reveal-id="sponsor-modal-<%= company.id %>">
								<a href="#" class="sponsors-thumb" target="_blank">
									<img src="<%= company.logo_img %>" />
								</a>
							</li>
							<div id="sponsor-modal-<%= company.id %>" class="reveal-modal" data-reveal>
								<div class="sponsor-category"><span>LendIt USA 2015 Start-Up</span></div>
								<p class="sponsor-modal-thumb"><img src="<%= company.logo_img %>" /></p>
								<p class="sponsor-modal-visit"><a href="<%= raw company.url %>" target="_blank">Visit <%= company.company_name %></a></p>
								<p class="sponsor-modal-description"><%= raw company.description %></p>
								<a class="close-reveal-modal">&#215;</a>
							</div>
						<% else %>
							<li>
								<a href="<%= company.url %>" class="sponsors-thumb" target="_blank">
									<img src="<%= company.logo_img %>" />
								</a>
							</li>
						<% end %>
					<% end %>
				</ul>
			</div>
		</div>
	</div>
	<div id="sponsors-more-info" class="reveal-modal" data-reveal>
		<div class="row">
			<div class="large-24 columns">
				<div class="sponsors-info-head">Sponsorship Info</div>
			</div>
		</div>
		<div class="row">
			<div class="large-15 columns">
				<div class="sponsors-sidebar">
					<div class="sponsors-subhead">
						Who Should Sponsor
					</div>
					<ul>
						<li>Online lending platforms</li>
						<li>Investment banks</li>
						<li>Law firms</li>
						<li>Accounting firms</li>
						<li>Venture capital firms</li>
						<li>Investment advisors & consultants</li>
					</ul>
					<div class="sponsors-subhead">
						Why Sponsor
					</div>
					<ul>
						<li>Increase brand and product awareness</li>
						<li>Get face time with real decision makers</li>
						<li>Launch new products</li>
						<li>Raise capital</li>
						<li>Educate the market</li>
						<li>Uncover new partners</li>
						<li>Be seen as an industry leader</li>
					</ul>
					<div class="sponsors-subhead">
						Types of Sponsorship Participation
					</div>
					<p>LendIt sponsors receive extensive brand exposure to a core audience of prominent industry insiders and investment professionals before, during and after the event. </p>
					<div class="sponsors-subhead">
						Key channels include:
					</div>
					<ul>
						<li>The LendIt website and blog</li>
						<li>The exhibition</li>
						<li>On-site recognition & signage</li>
						<li>Event program exposure</li>
						<li>Webcasts and videos</li>
						<li>Joint press releases</li>
						<li>Print advertising</li>
					</ul>
					<p>For more information on sponsorship, exhibitor and start-up zone opportunities, please email <a href="mailto:info@lendit.co">info@lendit.co</a>.</p>
					<!-- <div class="download-sponsorship-packages"><a href="/assets/LendIt-Europe-Sponsorship-Packages.pdf" target="_new"><button>Download Sponsorship Packages</button></a></div> -->
				</div>
			</div>
			<div class="large-9 columns">
				<ul class="small-block-grid-2 medium-block-grid-2 large-block-grid-1">
					<li>
						<div class="ny15-prospectus-link2">
							<a href="/usa/2015/floorplan">
								<span>
									<img src="https://s3-us-west-2.amazonaws.com/lendit/sponsors/lendit-usa-2015/floorplan-thumb.png" />
								</span>
								<span class="ny15-prospectus-link-text2">
									View the LendIt USA 2015 floorplan at the New York Marriott Marquis
									<i class="fa fa-arrow-circle-right"></i>
								</span>
							</a>
						</div>
					</li>
					<li>
						<div class="ny15-prospectus-link2">
							<a href="https://s3-us-west-2.amazonaws.com/lendit/uploads/LendIt-USA-2015-Prospectus.pdf" target="_blank">
								<span>
									<img src="https://s3-us-west-2.amazonaws.com/lendit/sponsors/lendit-usa-2015/prospectus-cover.png" />
								</span>
								<span class="ny15-prospectus-link-text2"> Download Sponsorship Prospectus <i class="fa fa-arrow-circle-right"></i></span>
							</a>
						</div>
					</li>
				</ul>
			</div>
		</div>
	</div>
</div>