<% body_class "pg-podcasts" %>

<div class="general-background">
	<div class="row">
		<div class="columns">
			<h1>Podcasts</h1>

			<div class="podcast-actions">
				<div>
					<a href="https://itunes.apple.com/us/podcast/lendit-conference/id962047495" target="_blank"> <i class="fa fa-music"></i> Subscribe via iTunes</a>
				</div>
				<div>
					<a href="http://liaudio.lendit.libsynpro.com/rss" target="_blank"> <i class="fa fa-rss"></i> RSS Feed</a>
				</div>
				<div>
					<a href="http://www.stitcher.com/podcast/lendit-conference?refid=stpr" target="_blank"> <i class="fa fa-play-circle-o"></i> Listen on Stitcher</a>
				</div>
			</div>



			<ul class="small-block-grid-1 medium-block-grid-2 large-block-grid-3" data-equalizer>
				<% @eu14podcasts.each do |podcast| %>
					<li>
						<div class="panel" data-equalizer-watch>
							<div class="podcast-title">
								<a href="#" data-reveal-id="podcast-<%= podcast.id %>"><%= raw podcast.video.title %></a>
							</div>

							<div class="podcast-item-embed reveal-modal" id="podcast-<%= podcast.id %>" data-reveal>
								<div><%= raw podcast.video.title %></div>
								<div><%= raw podcast.audio_embed %></div>
								<div><%= raw podcast.video.description %></div>
								<a href="" class="close-reveal-modal">&#215;</a>
							</div>
						</div>
					</li>
				<% end %>
			</ul>

		</div>
	</div>
</div>
