<%= title "LendIt Speakers Page" %>
<% meta_description "LendIt Conference speakers are esteemed leaders in the peer-to-peer industry." %>
<% meta_keywords "p2p, online lending, peer-to-peer, LendIt, speakers, presenters" %>
<%= canonical_tag -%>

<div class="container">
	<main>

		<h1>LendIt Europe Speakers</h1>

		<section>
      <div><a href="/speakers/sign-up"><button>Sign Up To Be A Speaker</button></a></div>
			<p>The following speakers have been confirmed for LendIt Europe 2014.</p>
    </section>

    <section>
        <% @europe_speakers.each do |speaker| %>
          <a href="<%= speaker.img_url %>" class="europe-speaker" title="<%= speaker.first_name %> <%= speaker.last_name %> ">
          <img src="<%= speaker.img_url %>" alt="<%= speaker.first_name %> <%= speaker.last_name %>">
          <%= speaker.first_name %> <%= speaker.last_name %>
          <%= speaker.title %>
          <%= speaker.company_name %>
          <%= raw speaker.bio %>
          </a>
        <% end %>
    </section>

    <section>
      <% @past_speakers.each do |speaker| %>
        <img src="<%= speaker.img_url %>" alt="<%= speaker.first_name %> <%= speaker.last_name %>">
        <%= speaker.first_name %> <%= speaker.last_name %>
        <%= speaker.title %>
        <%= speaker.company_name %>
        <%= raw speaker.bio %>
      <% end %>
    </section>


  </main>
</div>

