<%= title "LendIt Speakers Page" %>
<% meta_description "LendIt Conference speakers are esteemed leaders in the peer-to-peer industry." %>
<% meta_keywords "p2p, online lending, peer-to-peer, LendIt, speakers, presenters" %>
<%= canonical_tag -%>

<div class="container">
	<main>

		<h1>Speakers</h1>

		<section>
      <div><a href="/speakers/sign-up"><button>Sign Up To Be A Speaker</button></a></div>
			<p>Join the ranks of these esteemed industry leaders who have participated at LendIt conferences!</p>
    </section>

    <section>
      <% @europe_speakers.each do |speaker| %>
        <%= speaker.img_url %>
        <%= speaker.name %>
        <%= speaker.title %>
        <%= speaker.company_name %>
        <%= speaker.bio %>
      <% end %>
    </section>

    <section>
      <% @past_speakers.each do |speaker| %>
        <%= speaker.img_url %>
        <%= speaker.name %>
        <%= speaker.title %>
        <%= speaker.company_name %>
        <%= speaker.bio %>
      <% end %>
    </section>


  </main>
</div>

