<%= title "LendIt USA 2015 Speakers Page" %>
<% meta_description "LendIt USA 2015 Conference speakers are esteemed leaders in the peer-to-peer industry." %>
<% meta_keywords "p2p, online lending, peer-to-peer, LendIt, speakers, presenters, USA" %>

<% body_class "usa15-speakers" %>
<%= render "/welcome/callout" %>
<main>
	<div class="general-background" >
		<div class="row">
			<div class="columns">

				<section class="speakers-intro">
				<h1>LendIt USA 2015 Speakers</h1>
					<!-- <p>The following speakers are confirmed for the LendIt USA 2015 conference:</p> -->

					<div class="speakers-signup"><a href="/usa/2015/agenda">
						<button>View Agenda</button></a>
					</div>

					<div class="speakers-signup" style="margin-right: 10px;"><a href="/speakers/sign-up">
						<button>Sign Up To Be A Speaker for LendIt 2015</button></a>
					</div>
				</section>


<div class="past-speakers-section">
	<!-- <h2>Past Speakers</h2> -->
	<ul class="small-block-grid-2 medium-block-grid-4 large-block-grid-5">
		<% @usa15_speakers.each do |speaker| %>
			<li>
			<% if speaker.bio? %>
				<div class="speaker">
					<div class="speaker-top">
						<a class="past-speaker" href="#<%= speaker.first_name %><%= speaker.last_name %>">
							<img src="<%= speaker.img_url %>" class="speaker-image" alt="<%= speaker.first_name %> <%= speaker.last_name %>">
							<div class="speaker-top-info">
								<div class="speaker-name"><%= speaker.first_name %> <%= speaker.last_name %></div>
								<div class="speaker-title"><%= speaker.title %></div>
								<div class="speaker-company"><%= speaker.company_name %></div>
							</div>
						</a>
					</div>
					<div class="speaker-bio" style="/*temp styles*/display:none;">
						<div id="<%= speaker.first_name %><%= speaker.last_name %>" class="speaker-container">
							<div class="speaker-colorbox-title">Past Speakers</div>
							<div class="speaker-top-info">
								<img src="<%= speaker.img_url %>" class="speaker-image" alt="<%= speaker.first_name %> <%= speaker.last_name %>">
								<div class="speaker-name"><%= speaker.first_name %> <%= speaker.last_name %></div>
								<div class="speaker-title"><%= speaker.title %></div>
								<div class="speaker-company"><%= speaker.company_name %></div>
							</div>
							<div class="speaker-bio-text"><div class="speaker-bio-text-inner"><%= raw speaker.bio %></div></div>
							<div class="speaker-bio-mask"></div>
						</div>
					</div>
				</div>
			<% else %>
				<div class="speaker">
					<div class="speaker-top">

							<img src="<%= speaker.img_url %>" class="speaker-image" alt="<%= speaker.first_name %> <%= speaker.last_name %>">
							<div class="speaker-top-info">
								<div class="speaker-name"><%= speaker.first_name %> <%= speaker.last_name %></div>
								<div class="speaker-title"><%= speaker.title %></div>
								<div class="speaker-company"><%= speaker.company_name %></div>
							</div>

					</div>
			<% end %>
			</li>
		<% end %>
	</ul>
</div>



			</div>
		</div>
	</div>


</main>
