<!DOCTYPE html>
<html>
<head>
  <title><%= title %></title>
  <meta name="keywords" content="<%= meta_keywords %>" />
  <meta name="description" content="<%= meta_description %>" />
  <meta http-equiv="content-type" content="text/html; charset=UTF-8">
  <!-- Mobile -->
<!--   <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1"> -->
  <!-- update for production -->
<!--   <meta name="ROBOTS" CONTENT="NOINDEX, NOFOLLOW"> -->
  <link rel="stylesheet" type="text/css" href="//cloud.typography.com/7219312/623924/css/fonts.css" />
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
  <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">
</head>
<body class="<%= controller.controller_name %>">

  <!-- facebook share -->
  <div id="fb-root"></div>
  <script>(function(d, s, id) {
    var js, fjs = d.getElementsByTagName(s)[0];
    if (d.getElementById(id)) return;
    js = d.createElement(s); js.id = id;
    js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.0";
    fjs.parentNode.insertBefore(js, fjs);
  }(document, 'script', 'facebook-jssdk'));</script>
  <!-- end of facebook share -->

  <%= render 'layouts/nav' %>
  <%= yield %>
  <%= render 'layouts/footer' %>
  <%= render 'layouts/googleanalytics' %>
<!-- <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script> -->
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
</body>
</html>
