<!DOCTYPE html>
<html lang="en">
	<head>
		<title><%= title %></title>
		<meta name="keywords" content="<%= meta_keywords %>" />
		<meta name="description" content="<%= meta_description %>" />
		<meta http-equiv="content-type" content="text/html; charset=UTF-8">
		<meta name="google-site-verification" content="by6W7B4QIEZf5yc1MoQlex0GuqL2U9ekI9YTCSzX5wg" />
		<!-- Mobile -->
		<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1">
		<link href='http://fonts.googleapis.com/css?family=Open+Sans:400,700,600,800' rel='stylesheet' tgype='text/css'>


		<link rel="stylesheet" type="text/css" href="http://cloud.typography.com/7219312/623924/css/fonts.css" />
		<%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
		<%= csrf_meta_tags %>
		<link href="//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">
		<%= favicon_link_tag 'favicon.ico' %>
		<%= render 'layouts/wistia_golden_ticket' %>
		<!-- Wistia Google Analytics -->
		<%= render 'layouts/wistia_ga' %>
		<%= javascript_include_tag "vendor/modernizr" %>
		<%= canonical_tag -%>
	</head>
	<body class="<%= yield (:body_class) %>">
		<%= render 'layouts/nav' %>
		<%= yield %>
		<%= render 'layouts/footer' %>
		<%= render 'layouts/googleanalytics' %>
		<%= javascript_include_tag "application", "data-turbolinks-track" => true %>
		<script src="//fast.wistia.com/assets/external/embed_shepherd-v1.js"></script>
	</body>
</html>
